<mat-toolbar>

  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_activity</mat-icon>TicketOn
    </a>
  </span>
  <app-autorizado rol="admin">
    <ng-container autorizado>
      <div>
        <a mat-button routerLink="generos">Géneros</a>
      </div>
      <div>
        <a mat-button routerLink="eventos">Eventos</a>
      </div>

      <div>
        <a mat-button routerLink="eventos/crear">Nuevo Evento</a>
      </div>


      <div>
        <a mat-button routerLink="usuarios">Usuarios</a>
      </div>
    </ng-container>
  </app-autorizado>
  <div class="espacio"></div>

  <app-autorizado style="display:inline">
    <ng-container autorizado>
      <span class="saludo"> Hola, {{seguridadService.obtenerCampoJWT('email')}}</span>
      <a mat-button (click)="seguridadService.logout()">Logout</a>
    </ng-container>
    <ng-container noAutorizado>
      <a mat-button routerLink="login">Login</a>
      <a mat-button routerLink="registrar">Registro</a>
    </ng-container>
  </app-autorizado>

</mat-toolbar>
