<!-- NAV 1 -->
<!--<mat-toolbar>

  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_activity</mat-icon>TicketOn
    </a>
  </span>
  <app-autorizado rol="admin">
    <ng-container autorizado>
      <div>
        <a mat-button routerLink="generos">Géneros</a>
      </div>
      <div>
        <a mat-button routerLink="eventos">Eventos</a>
      </div>

      <div>
        <a mat-button routerLink="eventos/crear">Nuevo Evento</a>
      </div>


      <div>
        <a mat-button routerLink="usuarios">Usuarios</a>
      </div>
    </ng-container>
  </app-autorizado>
  <div class="espacio"></div>

  <app-autorizado style="display:inline">
    <ng-container autorizado>
      <span class="saludo"> Hola, {{seguridadService.obtenerCampoJWT('email')}}</span>
      <a mat-button (click)="seguridadService.logout()">Logout</a>
    </ng-container>
    <ng-container noAutorizado>
      <a mat-button routerLink="login">Login</a>
      <a mat-button routerLink="registrar">Registro</a>
    </ng-container>
  </app-autorizado>
</mat-toolbar>-->
<!-- NAV 2 -->


<nav class="bg-teal-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Botón para menú móvil -->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <!-- Logo o Nombre -->
          <a routerLink="" class="text-white text-lg font-semibold flex items-center">
            <svg class="h-8 w-8 text-indigo-500 mr-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z" />
            </svg>
            TicketOn
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <app-autorizado rol="admin">
              <ng-container autorizado>
                <a routerLink="generos" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Géneros</a>
                <a routerLink="eventos/crear" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Nuevo Evento</a>
                <a routerLink="usuarios" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Usuarios</a>
              </ng-container>
            </app-autorizado>
            <a routerLink="billetera" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Billetera</a>
          </div>
        </div>
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <app-autorizado>
          <ng-container autorizado>
            <!-- Botón del carrito -->
            <button class="relative text-white focus:outline-none" (click)="irACarrito()">
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h18l-2 13H5L3 3zm6 16a2 2 0 100 4 2 2 0 000-4zm8 0a2 2 0 100 4 2 2 0 000-4z" />
              </svg>
              
            </button>

            <!-- Círculo con la primera letra del correo -->
            <div class="ml-4 bg-gray-700 text-white rounded-full h-8 w-8 flex items-center justify-center">
              {{ obtenerInicialUsuario() }}
            </div>

            <span class="text-gray-300 ml-2 mr-4">Hola, {{ seguridadService.obtenerCampoJWT('email') }}</span>
            <button (click)="seguridadService.logout()" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</button>
          </ng-container>
          <ng-container noAutorizado>
            <a (click)="abrirLogin()" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>
            <a (click)="abrirRegistro()" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Registro</a>
          </ng-container>
        </app-autorizado>
      </div>
    </div>
  </div>

  <!-- Menú móvil -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
    </div>
  </div>
</nav>



<!-- NAV 3-->
<!--<nav class="bg-[#2A878C] sticky top-0 z-[1000]">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex items-center">
        <a routerLink="" class="text-white px-3 py-2 text-lg font-medium flex items-center">
          <svg class="h-6 w-6 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.104 0-2 .9-2 2s.896 2 2 2c1.104 0 2-.9 2-2s-.896-2-2-2zM12 3c-5.523 0-10 4.477-10 10s4.477 10 10 10 10-4.477 10-10S17.523 3 12 3z" />
          </svg>
          TicketOn
        </a>
        <app-autorizado rol="admin" class="flex space-x-4 ml-6">
          <ng-container autorizado>
            <a routerLink="generos" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Géneros</a>
            <a routerLink="eventos/crear" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Nuevo Evento</a>
            <a routerLink="usuarios" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Usuarios</a>
          </ng-container>
        </app-autorizado>
      </div>

      <div class="espacio flex-1"></div>

      <div class="flex items-center">
        <app-autorizado class="flex items-center space-x-4">
          <ng-container autorizado>
            <span class="saludo text-white text-lg">Hola, {{seguridadService.obtenerCampoJWT('email')}}</span>
            <button (click)="seguridadService.logout()" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</button>
          </ng-container>
          <ng-container noAutorizado>
            <a routerLink="login" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>
            <a routerLink="registrar" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Registro</a>
          </ng-container>
        </app-autorizado>
      </div>
    </div>
  </div>
</nav>-->
