@tailwind base;
@tailwind components;
@tailwind utilities;
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.indice-elementos{
    margin-top: 1rem;
}
.indice-elementos a{
  margin-right: 1rem;
}
